aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
altgraph==0.17.5
annotated-types==0.7.0
anyio==4.14.1
asgiref==3.11.1
attrs==26.1.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
colorama==0.4.6
crispy-bootstrap5==2026.3
Django==6.0.7
django-crispy-forms==2.6
dotenv==0.9.9
h11==0.16.0
httpcore==1.0.9
gunicorn
httpx==0.28.1
httpx-sse==0.4.3
idna==3.18
inflection==0.5.1
jiter==0.16.0
pillow==12.3.0
python-dotenv==1.2.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
referencing==0.37.0
regex==2026.6.28
requests==2.34.2
requests-toolbelt==1.0.0
rpds-py==2026.6.3
tqdm==4.68.4
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0

