{% extends "main/auth_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Onboard Voters {% endblock title %}
{% block body %}
<form class="sign-in-form sign-up-form p-3" action="." method="post">
    {% for m in messages %}
        <div class="alert alert-{{ m.level_tag }}">{{ m.message }}</div>
        {% if m.level_tag == "error"%}
        <div class="alert alert-danger"> {{ m.message }}</div>
        {% else %}
        <div class="alert alert-{{ m.level_tag }}">{{ m.message }}</div>
        {% endif %}
    {% endfor %}
     <div class="logos-container">
           
            <img src="{% static 'src-logo.png' %}" alt="LASCOCO SRC LOGO">

        </div>
{{ form|crispy }}
{% csrf_token %}
<button class="p-2 btn">Register</button>
        <!-- <p class="p-2 text-capitalize text-center"> don't have an account click <a href="{% url 'user_login' %}">here</a> to register  </p> -->

</form>
{% endblock body %}